# Database Management Basics

This is a short overview of how to work with the MIKE+ database.

In [1]:
import mikeplus as mp

## Reading database information

In [2]:
# Start by opening a database
db = mp.open("../tests/testdata/Db/Sirius/Sirius.sqlite")
db

Database<'Sirius.sqlite'>

In [3]:
# Each table has an object with various functionality
db.tables.msm_Link

msm_LinkTable<Pipes and canals>

In [4]:
# Export the entire table to a Pandas Dataframe
df = db.tables.msm_Link.to_dataframe()
df.head()

,MUID,Enabled,FromNodeID,ToNodeID,TypeNo,Height,Width,Diameter,Length,GeometricLength,...,UseRoutingNo,RoutingTypeNo,RoutingDelay,RoutingShape,DataSource,AssetName,Element_S,NetTypeNo,Description,ChainageData
Link_29,Link_29,1,Node_36,Node_27,1,None,None,1.0,2.46,246.578707,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_30,Link_30,1,Node_27,Node_28,1,None,None,1.0,4.06,406.880518,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_34,Link_34,1,Node_31,Node_32,1,None,None,1.0,21.22,2122.725786,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_35,Link_35,1,Node_32,Node_33,1,None,None,1.0,18.31,1831.076999,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_36,Link_36,1,Node_33,Node_34,1,None,None,1.0,17.52,1752.28701,...,0,1,0.0,0.2,None,None,None,None,None,None

## Insert data

In [5]:
# Insert a new link. Geometry is specified via WKT format.
(
    db.tables.msm_Link
        .insert({
            db.tables.msm_Link.columns.Diameter: 2.0,
            db.tables.msm_Link.columns.Description: "Some new link",
            "geometry": "LINESTRING(3 4,10 50,20 25)"
        })
)

'Link_1'

In [6]:
db.tables.msm_Link.to_dataframe().tail()

,MUID,Enabled,FromNodeID,ToNodeID,TypeNo,Height,Width,Diameter,Length,GeometricLength,...,UseRoutingNo,RoutingTypeNo,RoutingDelay,RoutingShape,DataSource,AssetName,Element_S,NetTypeNo,Description,ChainageData
Link_36,Link_36,1,Node_33,Node_34,1,None,None,1.0,17.52,1752.28701,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_37,Link_37,1,Node_34,Inflow to_WWTP_Basin,1,None,None,1.0,8.33,833.076047,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_33,Link_33,1,Node_30,Node_31,1,None,None,1.0,11.66,1166.432074,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_2,Link_2,1,Node_28,Node_30,1,None,None,1.0,20.0,2062.232537,...,0,1,0.0,0.2,None,None,None,None,None,None
Link_1,Link_1,1,None,None,1,None,None,2.0,None,73.455385,...,0,1,0.0,0.2,None,None,None,None,Some new link,None

## Update values

In [7]:
# Update the link we just inserted. Noticed you need to specify which link to update and then execute it.
(
    db.tables.msm_Link
        .update({
            db.tables.msm_Link.columns.Diameter: 3.0,
        })
        .by_muid("Link_1")
        .execute()
)
# the returned value is a list of MUIDs that were updated.

['Link_1']

In [8]:
# Confirm the update happened (optional). This is an alternative way to read data than dataframes.
(
    db.tables.msm_Link
        .select(["Diameter"])   # The columns to include.
        .by_muid("Link_1")      # The rows to include.
        .execute()              # If you don't execute, the query doesn't happen.
)

{'Link_1': [3.0]}

## Delete values

In [9]:
# Delete the inserted link.
(
    db.tables.msm_Link
        .delete()
        .by_muid("Link_1")
        .execute()
)
# the returned value is a list of MUIDs that were deleted.

['Link_1']

# Close database

In [10]:
# Close the database when you're done using it.
db.close()